// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Custom colors:
$first-color:#44403C;
$second-color: #E3D5CA;
$third-color: #9f8971 ;
$fourth-color: #D6CCC2;
$fifth-color: #cd4643;
$sixth-color: #f18d1f;
$seventh-color: #97be30;
