<div class="">
  <div class="">
    <div class="card-product card-category m-4 mapboxgl-popup-content">
      <%= link_to yoga_classes_path do %>
        <%= cl_image_tag yoga_class.photos.first.key, class: "img-map shadow-sm rounded-3" %>
      <% end%>
      <h5 class="cards-product-infos text"><strong><%= yoga_class.name %></h5>
      <p class="cards-product-infos text"><%= yoga_class.description %></p>
    </div>
  </div>
</div>
