<p><strong>The new teacher</strong></p>
<ul class="list-group">

    <li class="list-group-item"><%= @teacher.name %></li>
    <li class="list-group-item"><%= @teacher.description %></li>

</ul>
<br>
