.wrapper {
  padding-top: 2rem;
  padding-bottom: 10rem;
  margin:0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
// .form-control {
//   max-width: 60%;
// }
.wrap {
font-size: 1.1rem;
}

.form-control {
  border-radius:5px !important;
  background-color: white!important;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px !important;
}
// .label-class {
//   display: block;

// }
// .input-class {
// margin-bottom: 20px;
// width: 100%;

// }
