.map {
  width: 100%;
  height: 100vh;
}

.show-map {
  width: 100%;
  height: 50vh;
}

.polaroid {
  width: 350px;
  text-align: center;
}

.mapboxgl-popup {
  max-width: 200px;
  font-family: $body-font;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: $body-font !important;
  background-color: white;
  color: $first-color;
}

.map-container {
  max-width: 200px;
}
 .img-map {
  max-width: 600%;
  max-height: 50%;
  justify-content: center;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
 }

 .img-map:hover + .card-product {

  transform: scale(1.05) !important;
}

text{
  font-family:'Anton', sans-serif;
}
