.my-card {
  border: 1px solid rgb(221, 221, 221);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
  border-radius: 12px;
  padding: 20px;
  background-color: white;
  margin-bottom: 15px;
}

.show-container {
  gap: 15px;
}

// .booking-card {
//   text-align: center;
// }

// .info-card {
//   flex-grow: 1;
//   max-width: 75%;
// }

// .teacher-card {
//   margin-left: 20px;
//   text-align: center;
//   // width: 300px;
// }
