.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-product {
  overflow: hidden;
  max-width: 80vw;
  height: 200px;
  background:white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product:hover {
  box-shadow: 8px 12px 31px #515151;
  transform: scale(1.05) !important;

}
.card-product:hover li{
  font-family: Merriweather;
  color:  rgb(34, 34, 34);
}
.card-product-infos li{
  background: white ;
  color: $first-color;
}
.card-product img {
  width:250px;
  height: 100%;
  object-fit: cover;
}


.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

@media screen and (max-width:1200px) {
  .card-product-infos li {

    font-size: x-small;
    float: left;
  }
}

#padding{
  padding-top: 85px;
}

.index-card {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  max-width: 500px;
  margin: 0 auto;
  background-color: #f9f9f9;
}

.card img {
  width: 150px;
  height: auto;
  margin-right: 20px;
}

.index-info-container {
  display: flex;
  flex-direction: column;
}

.info-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.info {
  font-size: 16px;
  margin-right: 20px;
}

.yoga-class-address {
  margin: left 10px;; /* Align the address information to the right */
}
